@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* outline: 1px solid red; */
}

body{
    background-color: #0a0808;
    font-family: "Bona Nova", serif;
   
}

main{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ffffcd;
}

.form_container{
    min-height: 65%;
    width: 400px;
    min-width: 300px;
    background-color: #1e1313;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.form_container::after, .form_container::before{
    content: '';
    background-image: conic-gradient(from var(--angle), transparent 70%, blue);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: spin 4s linear infinite;
}

.form_container::before{
    filter: blur(1.5rem);
    opacity: 0.6;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }to{
        --angle: 360deg;
    }
}

h2{
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
}

.form_container label{
    align-self: flex-start;
    font-size: 1.2rem;
    padding: 10px 0 10px 20px;
}

.form_container input{
    width: 80%;
    padding: 0.6rem;
    background-color: #f1ecec;
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form_container input:hover{
    outline: 2px solid blue;
}

.form_container span{
    color: red;
    font-size: 1rem;
    padding-top: 10px;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.submit input{
    color: #ffffff;
    padding: .8rem;
    font-size: 1.2rem;
    width: 40%;
    text-transform: capitalize;
    background-color: #3b48ff;
    border: none;
    transition: background-color 200ms;
}

.submit input:hover{
    background-color:#3b48ff86;
}